<!-- Our Story -->
<div id="story" class="story section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-5 mb-30">
                <div class="story-img animate-box" data-animate-effect="fadeInLeft">
                    <div class="img"> <img src="assets/images/story1.JPG" class="img-fluid" alt=""> </div>
                </div>
            </div>
            <div class="col-md-7 animate-box" data-animate-effect="fadeInRight">
                <h4 class="oliven-story-subtitle">Nuestra</h4>
                <h3 class="oliven-story-title">Historia de Amor</h3>
                <p>Todo empezó en el cumpleaños de Danny Ron (un excelente amigo de los novios) en abril del 2018; en contra de todas las posibilidades Daniel asistió al cumpleaños
                    (los que lo conocen saben que no le gusta ir mucho a las fiestas), en ese día, cuando Daniel llegó Carolina junto con una de sus mejores amigas
                    Carolina Freile (ex de Danny Ron) le hicieron un recibimiento inolvidable,
                    desde aquel entonces Daniel quedó flechado y cautivado.</p>
                <p>En aquella noche, también estaba su amigo Chifle que quería conquistar a Carolina, pero lamentablemente y por suerte Chifle no aguantó los efectos del alcohol y se durmió.</p>
                <p>Daniel aprovechó la oportunidad para conversar con Carolina, quedó maravillado. Después de esa noche nunca dejaron de estar en contacto, empezaron a salir y compartir cosas juntos hasta que 
                    después de unas cuantas salidas finalmete se convirtieron en una hermosa pareja.</p>
                <h4> 24 Oct, 2021. Dijo que sí!</h4>
                <p>Después de algunos años de enamorados Daniel decidió dar el paso, le propuso matrimonio a Carolina en el Lago San Pablo en un Globo Aerostático, claro con la ayuda de una gran amiga: Daniel Duque.
                    Sin duda, no es un paso fácil, pero el amor es capaz de todo.
                </p>
            </div>
        </div>
    </div>
</div>
