<!-- Gallery -->
<div id="gallery" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-30"> <span class="oliven-title-meta">Galería</span>
                <h2 class="oliven-title">Recuerdos</h2>
            </div>
        </div>
        <div class="row">
            <ul class="col list-unstyled list-inline mb-0 gallery-menu" id="gallery-filter">
                <li class="list-inline-item"><a class="active" data-filter="*">Todas</a></li>
                <!-- <li class="list-inline-item"><a class="" data-filter=".ceremony">Dijo que Sí</a></li>
                <li class="list-inline-item"><a class="" data-filter=".party">Pedida de Mano</a></li> -->
            </ul>
        </div>
    </div>
    <div class="container">
        <!-- <div *ngFor="number of numbers; let i = index" class="row gallery-filter mt-3">           
            <div class="col-md-4 gallery-item ceremony">
                <div style="width: 250px" class="gallery-box ceremony">
                    <p-image src="{{'assets/images/gallery/Dijo que Sí/' + i + '.jpg'}}" alt="Image"
                        [preview]="true"></p-image>
                </div>
            </div>
            <div class="col-md-4 gallery-item">
                <div style="width: 250px" class="gallery-box ceremony">
                    <p-image src="{{'assets/images/gallery/Nosotros/' + i + '.jpg'}}" alt="Image"
                        [preview]="true"></p-image>
                </div>
            </div>
            <div class="col-md-4 gallery-item party">
                <div style="width: 250px" class="gallery-box ceremony">
                    <p-image src="{{'assets/images/gallery/Pedida de Mano/' + i + '.JPG'}}" alt="Image"
                        [preview]="true"></p-image>
                </div>
            </div>           
        </div> -->
        <p-galleria [value]="images" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '800px'}"
            [numVisible]="7" [showItemNavigators]="true" [showItemNavigatorsOnHover]="true" [showThumbnails]="false">
            <ng-template pTemplate="item" let-item>
                <img [src]="item.url" style="width: 100%; display: block;" />
            </ng-template>
        </p-galleria>
    </div>
</div>