<!-- Confirmation -->
<div id="rsvp" class="section-padding bg-img bg-fixed" style="background-image: url(assets/images/banner-2.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 bg-white p-40"> <span class="oliven-title-meta text-center">Confirma tu asistencia</span>
                <h2 class="oliven-title text-center"></h2>
                <br>
                <form [formGroup]="form" class="contact__form" (ngSubmit)="submitForm()">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input formControlName="detail" type="text" class="form-control"
                                    placeholder="Email o Teléfono">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                 
                                    <label for="file">Adjunta tu certificado de vacunación</label>
                    
                                <input id="file" #fileUpload type="file" (change)="uploadFile($event)">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button>Confirmar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>