<!-- Main -->
<div id="oliven-page"> <a href="#" class="js-oliven-nav-toggle oliven-nav-toggle"><i></i></a>
  <app-sidebar></app-sidebar>
  <!-- Content Section -->
  <div id="oliven-main">
    <app-home></app-home>
    <app-couple></app-couple>
    <app-countdown></app-countdown>
    <app-about></app-about>
    <app-friends></app-friends>
    <app-organization></app-organization>
    <app-gallery></app-gallery>
    <app-questions></app-questions>
    <app-rsvp></app-rsvp>
    <app-footer></app-footer>
  </div>
</div>