<!-- Friends -->
<div id="friends" class="friends section-padding bg-pink">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-30"> <span class="oliven-title-meta">Gracias por su Apoyo</span>
                <h2 class="oliven-title mb-30">Padrinos y Testigos</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="img"> <img src="/assets/images/friends/madrina-novio.png" alt=""> </div>
                        <div class="info valign">
                            <div class="full-width">
                                <h6>Alejandra Vásconez</h6><span>Madrina del Novio</span>
                           <!--      <p>Enstibulum eringilla dui athe elitene miss minibus viverra nectar.</p> -->
                            </div>
                        </div>
                    </div>
                                       <div class="item">
                        <div class="img"> <img src="/assets/images/friends/madrina-novia.png" alt=""> </div>
                        <div class="info valign">
                            <div class="full-width">
                                <h6>Andrea Nieto</h6><span>Madrina de la Novia</span>
                              <!--   <p>Enstibulum eringilla dui athe elitene miss minibus viverra nectar.</p> -->
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img"> <img src="/assets/images/friends/padrino-novio.png" alt=""> </div>
                        <div class="info valign">
                            <div class="full-width">
                                <h6>Juan Benítez</h6><span>Padrino del Novio</span>
                               <!--  <p>Enstibulum eringilla dui athe elitene miss minibus viverra nectar.</p> -->
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img"> <img src="/assets/images/friends/padrino-novia.png" alt=""> </div>
                        <div class="info valign">
                            <div class="full-width">
                                <h6>Carlos Medina</h6><span>Padrino de la Novia</span>
                              <!--   <p>Enstibulum eringilla dui athe elitene miss minibus viverra nectar.</p> -->
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img"> <img src="/assets/images/friends/testigo-novio.png" alt=""> </div>
                        <div class="info valign">
                            <div class="full-width">
                                <h6>Andrés Vega</h6><span>Testigo del Novio</span>
                                <!-- <p>Enstibulum eringilla dui athe elitene miss minibus viverra nectar.</p> -->
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img"> <img src="/assets/images/friends/testigo-novia.png" alt=""> </div>
                        <div class="info valign">
                            <div class="full-width">
                                <h6>Carolina Freile</h6><span>Testigo de la Novia</span>
                               <!--  <p>Enstibulum eringilla dui athe elitene miss minibus viverra nectar.</p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 <!-- See you -->
 <div id="seeyou" class="seeyou section-padding bg-img bg-fixed" style="background-image: url(/assets/images/banner3.jpg)">
    <div class="container">
        <div class="row">
            <div class="section-head col-md-12 text-center"> <span><i class="ti-heart"></i></span>
                <h4>Celebraremos juntos</h4>
                <h3>28.05.2022</h3>
            </div>
        </div>
    </div>
</div>
