<!-- Sidebar Section -->
<aside id="oliven-aside">
    <!-- Logo -->
    <div class="oliven-logo">
        <a href="index.html"> <img src="assets/images/logo.png" alt=""> <span>Carolina <small>&</small> Daniel</span>
            <h6>28.05.2022</h6>
        </a>
    </div>
    <!-- Menu -->
    <nav class="oliven-main-menu">
        <ul>
            <li><a href="index.html#home">Inicio</a></li>
            <li><a href="index.html#couple">Pareja</a></li>
            <li><a href="index.html#story">Nuestra Historia</a></li>
            <li><a href="index.html#friends">Amigos</a></li>
            <li><a href="index.html#organization">Organización</a></li>
            <li><a href="index.html#gallery">Galería</a></li>
            <li><a href="index.html#whenwhere">Cuándo y Dónde</a></li>
            <li><a href="index.html#rsvp">R.S.V.P</a></li>
            <li><a href="http://solvit-wedding.s3-website.us-east-2.amazonaws.com/#/">Blog</a></li>
        </ul>
    </nav>
    <!-- Sidebar Footer -->
    <div class="footer1"> <span class="separator"></span>
        <p>
            <br />Solvit 2022 Quito, Ecuador.
        </p>
    </div>
</aside>
