<!-- Organization -->
<div id="organization" class="organization section-padding bg-pink">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-30"> <span class="oliven-title-meta">Boda</span>
                <h2 class="oliven-title">Organización</h2>
            </div>
        </div>
        <div class="row bord-box bg-img" style="background-image: url(assets/images/banner33.jpg)">
            <div id="org-container" class="col-md-3 item-box">
                <h2 class="custom-font numb">01</h2>
                <h6 class="title">Ceremonia Eclesiástica</h6>
                <p id="org-hour"><i>12:00 horas</i></p>
                <p id="org-detail">
                    Iglesia
                    <br/>Santiago Apóstol de San José de Puembo
                    <br/>
                </p>
            </div>
            <div id="org-container" class="col-md-3 item-box">
                <h2 class="custom-font numb">02</h2>
                <h6 class="title">Recepción Almuerzo</h6>
                <p id="org-hour"><i>14:00 horas</i></p>
                <p>
                    Quinta La Mirá
                    <br/>San José de Puembo
                </p>
            </div>
            <div id="org-container" class="col-md-3 item-box">
                <h2 class="custom-font numb">03</h2>
                <h6 class="title">Fiesta a Divertirnos</h6>
                <p id="org-hour"><i>16:00 horas</i></p>

                <p>
                    Quinta La Mirá
                    <br/>San José de Puembo
                </p>
            </div>
            <div id="org-container" class="col-md-3 item-box">
                <h2 class="custom-font numb">04</h2>
                <h6 class="title">Levanta Muertos</h6>
                <p id="org-hour"><i>06:00 horas</i></p>
                <p>Delta tristiu the jusone duise vitae diam neque nivami mis est augue artine aringilla the at elit finibus vivera.</p>
            </div>
        </div>
    </div>
</div>
